@{
    ViewData["Title"] = "Explore";
}

@model List<ImageModel>

@section Styles {
    <link href="@Url.Content("~/css/Explore.css")" rel="stylesheet">
}

@section Scripts {
    <script src="@Url.Content("~/js/Explore.js")" type="module" async></script>
}

<div id="explore-container">
    <div id="picture-container">
        <p>Showing @Model.Count images</p>
        @foreach (var img in Model)
        {
            <hr>
            <figure>
                <figcaption>"@img.ImgTitle" by @img.ImgAuthor</figcaption>
                <picture>
                    <img src="data:image/png;base64, @img.GetBase64()" alt="@img.ImgTitle" title="@img.ImgDescription">
                </picture>
            </figure>
        }
    </div>
    <aside id="search-bar">
        <form action="/Explore" method="post">
            <fieldset>
                <legend>Filters</legend>
                <div>
                    <div>
                        <label for="img-title">Image Title</label>
                        <input id="img-title" name="imgTitle" type="text">
                    </div>
                    <div>
                        <label for="auth-name">Author Name</label>
                        <input id="auth-name" name="authName" type="text">
                    </div>
                </div>
                <hr>
                <input value="Search" type="submit">
            </fieldset>
        </form>
    </aside>
</div>
