@{
    ViewData["Title"] = "Explore";
}

@model List<ImageModel>

@section Styles {
    <link href="@Url.Content("~/css/Explore.css")" rel="stylesheet">
}

@section Scripts {
    <script src="@Url.Content("~/js/Explore.js")" type="module" async></script>
}

<div id="explore-container">
    <div id="picture-container">
        @foreach (var img in Model)
        {
            <figure>
                <figcaption>"@img.ImgTitle" by @img.ImgAuthor</figcaption>
                <picture>
                    <img src="data:image/png;base64, @img.GetBase64()" alt="@img.ImgTitle">
                </picture>
            </figure>
        }
    </div>
    <aside id="search-bar">
        <form>
            <fieldset>
                <legend>Filters</legend>
                <label for="img-title">Image Title</label>
                <input id="img-title" name="img-title" type="text">
                <br>
                <label for="auth-name">Author Name</label>
                <input id="auth-name" name="auth-name" type="text">
                <br>
                <input value="Search" type="submit">
            </fieldset>
        </form>
    </aside>
</div>
